@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css";
/*!
 * CSS file for Readme-Workflows org.
 * Copyright 2021 The Readme-Workflows organisation and Contributors
 */

/* Variables */
:root {
  --github-black: #0d1117;
  --github-grey: #c9d1d9;

  --blue: #0366d6;
  --blue-dark: #0366d6;
  --white: #fff;
  --border: #e1e4e8;
  --black: #000;
}

/* Basic style */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
}
body.dark {
  color: var(--github-grey);
  background-color: var(--github-black);
}
header,
section,
footer {
  padding: 20px 20px;
}
[hidden],
.hidden {
  display: none !important;
}

/* Responsive image */
img {
  max-width: 100%;
  height: auto;
}

/* Links and Buttons */
a:link {
  color: var(--blue);
  text-decoration: none;
  background-color: transparent;
}
a:link:hover {
  color: var(--blue-dark);
  text-decoration: underline;
}
.btn {
  color: var(--black);
  background-color: var(--white);
}
.dark .btn {
  color: var(--github-grey);
  background-color: var(--github-black);
}

/* Headings */
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}

/* Container */
.container {
  max-width: 1012px;

  margin-top: 32px;
  margin-bottom: 32px;

  margin-right: auto;
  margin-left: auto;
}

/* Text aligning */
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.wide {
  letter-spacing: 4px;
}
.underline {
  text-decoration: underline;
}
.strikethrough {
  text-decoration: line-through;
}

/* Borders */
.border-top {
  border-top: 1px var(--border) solid;
  padding-top: 16px;
  margin-top: 32px;
}
